@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container-fluid {
  margin-top: 10px;
}

.row-header {
  border-bottom: black;
  padding: 10px 0px 0px 0px;
}

.header-adress {
  margin: 0px 0px 0px 0px;
  padding: 5px;
  display: inline-block;
}

.header-adress-text {
  font-size: 10px;
  display: inline;
}

.header-middle {
  text-align: center;
}

.header-right-part {
  text-align: right;
}

.wrapper {
  min-height: 100%; /*чтобы оболочка wrapper была на всю высоту экрана*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: 1180px; /*ширина занимаемой части экрана для контента*/
  margin: 0px auto;
}

.login-invite {
  width: 300px;
  margin: auto;
  position: relative;
  top: 150px;
  text-align: center;
  padding: 9px;
}

.wrap-login-invite {
  background-color: #e1dac7;
  height: 200px;
  padding: 5px 20px;
}

.wrap-login-header {
  background-color: #e1dac7;
  height: 25px;
  font-weight: 500;
  font-size: 26px;
  padding-top: 0px;
}

.wrap-login-invite {
  border: 3px solid #CCC;
  height: 300px;
}

#wrap-login-invite {
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px !important;
  margin: 0;
}

.inner {
  margin: 15px 0px 0px 0px;
  padding: 0px;
  align-content: center;
}

.login-inner-formline {
  padding: 1px 0px 0px 0px;
  font-size: 18px;
  margin: 0 auto;
}

.login-inner-formline > input {
  padding: 5px 0px 0px 0px;
  font-size: 14px;
  margin: 10px 0px 10px 0px;
}

.btn-login {
  width: 60px;
  height: 30px;
  margin-top: 0px;
  background-color: #187202;
  border-radius: 5px;
  color: #ffffff;
}

.btn-register {
  width: auto;
  height: 30px;
  background-color: #187202;
  border-radius: 5px;
  margin-top: -25px;
  color: #ffffff;
}

.btn-confirm {
  width: 50px;
  height: 30px;
  background-color: #187202;
  border-radius: 5px;
  margin-top: -25px;
  color: #ffffff;
}