#btnSearchBrands {
    width: 70px;
    height: 30px;
    border-radius: 2px;
    padding: 3px 0px 10px 0px; 
    background-color: blanchedalmond;
    
}

.btn-addtocart:hover {
    cursor: pointer;
}
