#originalItem {
    background: antiquewhite;
    margin: auto;      
    width: 95%; 
}

#resultMainModul {    
    background: aquamarine;          
    width: 100%;    
    align-items: center;
}

.row {
}
.headerItems {
    
}
.inner {
}
.part {
}
.dataBlock {
}
.visibleItems {
}
.hiddenItems {
}
.moreItems {
}
.more-label {
}