#originalItem {
    background: antiquewhite;
    border: 1px solid black;
    border-radius: 2px;
    margin: auto;      
    width: 95%;    
}

#resultMainModul {    
    background: aquamarine;          
    width: 100%;    
    display: flex;    
    margin-left: 0;
    margin-right: 0;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.row {
}
.headerItems {
    padding: 5px;
    text-align: center;  
    width: 100%;      
}

.th-brand {
    width: 200px;
}
.th-name {
    width: 200px;
}
.th-quantity {
    width: 200px;
}
.th-delivery {
    width: 200px;
}
.th-price {
    width: 200px;
}

.inner {
    padding: 20px;
    padding-top: 10px;
}
.part {

    & table td {
        
    }
}
.dataBlock {  
    width: 100%;   
    display: table;
    border: 1px solid yellowgreen;
}

.dataBlock {
    
}

.visibleItems {
    width: 100%;
    text-align: center;
}
.hiddenItems {
}
.moreItems {
    width: 100%;
}
.more-label {
    text-align: right;
    padding-right: 50px;
    cursor: pointer;
}

.d_brand_art, .d_name {
    vertical-align: top;
    width: 200px;
}

.td-quantity {
    width: 200px;
}
.td-delivery {
    width: 200px;
}
.td-price {
    width: 200px;
}


